* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

header {
    background-image: url("images/header.jpg");
    background-position: center;
}
    .box-1{
        padding: 50px;
        display:flex;
        flex-flow:row nowrap;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        color:slategrey;
    }
        .box-logo{

            padding: 20px;
            flex: 1 1 auto;   
        }
       
        .box-menu{
            margin: 20px;
            display:flex;
            justify-content: space-around;
            flex: 8 1 auto;
        }
        
        .box-menu ul li{
            padding: 15px;
            margin: auto 50px auto 10px;
            display: inline-flex; 
            list-style: none;
            text-decoration: none;
        }
        
        .box-menu ul li i{
            margin-right: 5px;;
        }
        .box-social-media{
            display:flex;
            flex-flow:row nowrap;
            flex: 2 1 auto;
        }
        .box-social-media ul i{
            padding: 10px;
        }
    .box-2{
        display: flex;
        justify-content: center;
        width: 70%;
        background-color: #00000026;
        margin: 100px auto 0px auto;
        padding: 50px 80px 100px 80px;  
    }
        h1{
            font-family: Garamond;
            font-weight: lighter;
            font-size: 40px;
            color:coral;
        }
a:link,
a:visited {
    color:slategrey;
    text-decoration: none;
}
a:hover {
    color:coral;
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    .box-1{
        padding: 20px;
    }
        .box-logo{
            padding: 0px;
        }
        .box-menu{
            flex-flow: row nowrap;
            justify-content: center;
        
        }
            .box-menu ul li{
                padding: 5px;
                margin: auto;
            }
    .box-2{
        padding: 70px 80px 70px 80px;  

    }
        h1{
            text-align: center;
            margin-top: 20px;
        }
}
@media only screen and (max-width: 600px){
    .box-1{
        flex-direction: column; 
       
    }
    .box-menu ul{
        align-items: center;
        justify-content: center;
    }
       .box-menu ul li {
            display:flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin: 5px auto;
        }
        .box-social-media{
            margin-bottom: 50px;
        }
        h1{
            font-size: 25px;
        }
}